body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Heading */
.heading {
    text-align: center;
    font-size: 32px;
    margin: 30px 0 10px;
}

/* Course Grid */
.course-grid {
    width: 90%;
    margin: auto ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}


/* Course Card */
.course-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}
.course-card {
    text-decoration: none !important;
    color: inherit !important;
    display: block;
}

/* .course-card * {
    text-decoration: none !important;
    color: inherit !important;
} */

/* Hover Effect */
.course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 45px rgba(0,0,0,0.28);
}

/* Thumbnail */
.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Content */
.card-info {
    padding: 18px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
}

.rating {
    margin: 5px 0;
    color: #FFD700;
    font-size: 18px;
}

.price-row {
    margin: 8px 0;
    font-size: 17px;
}

.old-price {
    color: gray;
    text-decoration: line-through;
    margin-left: 10px;
}

.off-tag {
    color: red;
    font-weight: bold;
    margin-left: 12px;
}
